<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>itunes_application_id</key>
	<string>850708574</string>
	<key>debug_mode_enabled</key>
	<false/>
	<key>advertising_identifier_enabled</key>
	<true/>
</dict>
</plist>
